@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes desaparece {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30% {
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 60%;
  }
  70% {
    opacity: 70%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes bounce {
  20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(25px);
  }
  60% {
    transform: translateY(15px);
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg) scale(1.25);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  75% {
    transform: rotate(270deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cambio-fuente {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes uno {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 100%;
    transform: scale(1.2);
  }
  60% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
}
@keyframes dos {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
    transform: scale(1.2);
  }
  90% {
    opacity: 0%;
  }
}
@keyframes tres {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  90% {
    opacity: 100%;
    transform: scale(1.2);
  }
}
@keyframes loader {
  0% {
    translate: 100px 0px;
    background-color: red;
  }
  25% {
    translate: 100px -20px;
    background-color: greenyellow;
    border-radius: 50%;
  }
  50% {
    translate: -100px 0px;
    background-color: orange;
    scale: 1;
  }
  75% {
    translate: -100px -50px;
    background-color: yellow;
    rotate: 45deg;
    scale: 1.6;
  }
  100% {
    translate: 100px 0px;
    rotate: -45deg;
  }
}
* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: darkgrey RED;
}
* a:hover {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: RED;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
  border: 1px solid darkgrey;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: scroll;
  background-color: rgba(255, 249, 249, 0.81);
}

.row {
  --bs-gutter-x: 0 !important;
}

.navbar {
  background-color: RED !important;
}

Input {
  border: 1px solid grey !important;
  border-radius: 12px !important;
  transition: all 0.3s !important;
}

Input:Focus {
  Background-color: rgba(255, 183, 183, 0.277) !important;
  border: 1px solid red !important;
  outline: none !important;
  border-radius: 5px !important;
  transform: scale(1.01) in !important;
  box-shadow: 2px 2px 5px rgba(255, 1, 1, 0.416) !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body.swal2-shown > [aria-hidden=true] {
  transition: 0.1s filter;
  filter: blur(10px);
}

header {
  width: 100%;
  height: 100%;
}

#imgHeader {
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  #imgHeader {
    width: 250%;
    float: right;
  }
}
@media screen and (min-width: 576px) {
  #imgHeader {
    transition: width 1s;
    float: right;
  }
  #imgHeader:hover {
    width: 150%;
    float: right;
    transition: width 2s;
  }
}
@media screen and (max-width: 576px) {
  #escritorio {
    display: flex;
    flex-direction: column;
  }
  #actualidad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  #actualidad h2 {
    display: none;
  }
  #novedades1 {
    padding: 10px;
  }
  #novedades2 {
    padding: 10px;
  }
  #novedades3 {
    padding: 10px;
  }
  #fixture {
    display: none;
  }
  .buttonsmain {
    min-width: 60vw;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  .buttonsmain a {
    text-decoration: none;
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 2.5px;
    text-align: center;
    background: rgba(255, 0, 0, 0.817);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 1, 1, 0.416);
    transition: all 0.4s ease-in-out;
  }
  #escritorio h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: RED;
  }
}
/* PARA ESCRITORIO GRID BOOTS */
@media screen and (min-width: 576px) {
  #escritorio {
    width: 100%;
    display: grid;
    grid-template-rows: 100px 2fr 2fr;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: "a1 a1 a1" "a2 a2 a3" "a2 a2 a4";
  }
  #actualidad {
    grid-area: a1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
  }
  #redes {
    color: RED;
    font-family: Georgia;
    transform: translatey(35px);
    transition: 2s;
  }
  #redes:hover {
    transform: translate(20px, 45px) scale(1.2, 1.2);
    transition: 2s;
  }
  .buttonsmain {
    min-width: 60vw;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  .buttonsmain a {
    text-decoration: none;
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 2.5px;
    text-align: center;
    background: rgba(255, 0, 0, 0.817);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 1, 1, 0.416);
    transition: all 0.4s ease-in-out;
  }
  .buttonsmain a:hover {
    transform: scale(1.3);
    transition: all 0.3s;
  }
  #escritorio h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2.5vw;
    color: RED;
  }
  #fixture {
    padding: 10px;
    width: 100%;
    height: auto;
  }
  #novedades1 {
    grid-area: a2;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-items: center;
  }
  #novedades1 h5 {
    font-size: 2vw;
  }
  #novedades2 {
    grid-area: a3;
    padding: 5px;
  }
  #novedades2 h5 {
    font-size: 2vw;
  }
  #novedades3 {
    grid-area: a4;
    padding: 5px;
  }
  #novedades3 h5 {
    font-size: 2vw;
  }
}
#titulosflex {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

#titulosflex div {
  padding: 20px;
}

#titulosflex ul p {
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: RED;
}

#copasflex {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

#copas1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

#copas2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  #titulosflex {
    display: flex;
    flex-direction: column;
  }
  #copasflex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  #copas1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  #copas2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
}
#ImgLogo {
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-position: center;
  opacity: 40%;
  transition: 2s;
}

#ImgLogo:hover {
  width: 100px;
  height: 100px;
  opacity: 100%;
  transition: width 2s, height 2s, transform 2s, opacity 3s;
}

#opcionesSociosSi {
  display: none;
}

.classSociosSiNo #opcionesSociosSi {
  display: grid;
}

.classSociosSiNo #opcionesSociosNo {
  display: none;
}

@media screen and (min-width: 576px) {
  .formularios {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2";
    place-self: center;
    margin: 5px;
  }
  .formularios div #fotoAsociate {
    grid-area: a1;
    display: grid;
    place-content: center;
    margin-left: 10%;
    margin-top: 5%;
    max-width: 80%;
  }
  .formularios #formularioAsociate {
    display: grid;
    grid-area: a2;
    gap: 5px;
    place-self: center;
    width: 95%;
    color: red;
  }
  .formularios .mainform--content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: calc(0.3em + 1.2vw);
    font-weight: bold;
  }
  .formularios button#botonAsociarse {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    color: red;
    position: relative;
    border-radius: 12px;
    margin: 10px;
  }
  .formularios button#botonAsociarse::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, rgb(210, 105, 0), rgb(223, 0, 63), rgb(172, 0, 0), red, rgb(210, 105, 0), rgb(223, 0, 63), rgb(172, 0, 0));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
  }
}
@media screen and (max-width: 576px) {
  tr {
    display: flex;
  }
  tr th {
    padding: 0 !important;
  }
  .formularios {
    place-self: center;
    margin: 5px;
  }
  .formularios div #fotoAsociate {
    grid-area: a1;
    display: grid;
    place-content: center;
    margin-left: 10%;
    margin-top: 5%;
    max-width: 80%;
  }
  .formularios #formularioAsociate {
    display: grid;
    grid-area: a2;
    place-self: center;
    width: 95%;
    color: red;
  }
  .formularios .mainform--content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: calc(0.8em + 1.2vw);
    font-weight: bold;
  }
}
.mainform--content--abonar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: 5px;
  font-size: calc(1.1em + 0.7vw);
  font-weight: bold;
}

.inputShort {
  max-width: 3em;
}

.container {
  color: red !important;
}

#opcionesSocios {
  display: grid;
  place-content: center;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-areas: "a1 a2 a3";
  margin-top: 10px;
  gap: 10px;
}

#consultaSocios {
  display: flex;
  justify-content: space-evenly;
  grid-area: a2;
  font-size: calc(1em + 1.4vw);
  font-weight: bold;
  color: rgb(255, 0, 0);
}

#climas {
  display: grid;
  grid-area: a3;
}

.btn-danger {
  background-color: red !important;
}

#buscadorSociosYpagos {
  background-color: white !important;
}

#barraBuscadorSocios {
  padding: 20px !important;
  gap: 10px;
}

#botonesPadron {
  margin-left: 60%;
  font-size: calc(0.2em + 1vw);
}

#botonesPagos {
  margin-left: 30%;
  font-size: calc(0.2em + 1vw);
}

th {
  text-align: center;
  justify-content: center;
}

td {
  text-align: center;
}

.btn-close {
  text-align: center !important;
}

#cierreAnimado {
  display: flex;
  flex-direction: column;
  width: 2.2rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
}

#cierreAnimado > div {
  background: red;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

#cierreAnimado:hover div:first-child {
  transform: rotate(45deg);
}

#cierreAnimado:hover div:nth-child(2) {
  opacity: 0;
}

#cierreAnimado:hover div:last-child {
  transform: rotate(-45deg);
}

#formPago {
  background-image: url(../multimedia/fondohistoria.jpg);
  background-size: calc(4em + 10vw);
  background-repeat: no-repeat;
}

#modalAbonar {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 5px;
  font-size: calc(0.95em + 0.5vw);
  font-weight: bold;
}

#indicaCuotaValor p {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.inactivo {
  color: red;
}

.clima {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1em;
  font-weight: bold;
}

footer {
  width: 100%;
  max-height: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-small;
  text-align: center;
  margin-top: auto;
}

footer p {
  color: white;
  background-color: RED;
  margin-bottom: 0;
}

.myfoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: RED;
  padding-left: 5px;
  font-size: 1vw;
}

.buttons {
  min-width: 85vw;
  display: flex;
  justify-content: right;
  background-color: RED;
}

.buttons a {
  text-decoration: none;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 2.5px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .myfoot {
    font-size: 3vw;
  }
  .buttons {
    min-width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .MainTit {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10px;
  }
  .MainTit #disciplinas {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    color: "titulo";
    font-family: Verdana;
    color: red;
    font-size: 6vw;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .MainTit #MainTit--importantes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .MainTit img {
    margin: 10px;
    width: 60VW;
    height: AUTO;
  }
  .subMain-disciplina {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
  }
  .subMain-disciplina .sublistado {
    position: relative;
    margin: 20px;
  }
  .subMain-disciplina .sublistado-titulo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90, 0, 10, 0.4);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }
  .subMain-disciplina .sublistado-image {
    line-height: 0;
  }
  .subMain-disciplina .sublistado-image img {
    width: 60VW;
    height: AUTO;
  }
  h2 {
    color: "subtitulo";
    font-family: Tahoma;
    color: rgba(215, 0, 0, 0.858);
    font-size: 5vw;
  }
  h3 {
    color: "subtitulo";
    font-family: Tahoma;
    color: rgba(215, 0, 0, 0.858);
    font-size: 3vw;
  }
}
@media screen and (min-width: 576px) {
  .MainTit {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-around;
  }
  .MainTit #disciplinas {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    color: RED;
    font-size: 4vw;
    font-weight: bold;
    width: 100%;
    align-items: center;
    justify-content: left;
  }
  .MainTit #MainTit--importantes {
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .subMain-disciplina {
    display: flex;
    flex-direction: row;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
  }
  .subMain-disciplina .sublistado {
    position: relative;
    margin: 20px;
  }
  .subMain-disciplina .sublistado-titulo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90, 0, 10, 0.4);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .subMain-disciplina .sublistado:hover .sublistado-titulo {
    opacity: 1;
  }
  .subMain-disciplina .sublistado-image {
    line-height: 0;
  }
  .subMain-disciplina .sublistado-image img {
    width: 100%;
    height: auto;
  }
  h2 {
    color: RED;
    font-size: 3vw;
    padding-top: 20px;
  }
  h3 {
    color: RED;
    font-size: 1.8vw;
  }
}