
header
{
    width: 100%;
    height: 100%;
}

#imgHeader
{
    height: auto;
    width: 100%;
    object-fit:cover;
}
@media screen and (max-width:576px) 
{

#imgHeader
{
    width: 250%;    
    float: right;
}

}
@media screen and (min-width: 576px)
{
#imgHeader
{
transition: width 1s;
float: right;
}
#imgHeader:hover
{
    width: 150%;
    float: right;
    transition: width 2s;
}
}
