#titulosflex
{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
#titulosflex div
{
    padding: 20px;
}
#titulosflex ul p
{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $color-principal;
}
#copasflex
{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
}
#copas1
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
}
#copas2
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
}
@media screen and (max-width:576px)
{

#titulosflex
{
    display: flex;
    flex-direction: column;
}
#copasflex
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
#copas1
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
#copas2
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
}
#ImgLogo
{
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-position: center;
    opacity: 40%;
    transition: 2s;
}

#ImgLogo:hover
{
    width: 100px;
    height: 100px;
    opacity: 100%;
    transition: width 2s, height 2s, transform 2s, opacity 3s;
}
